<% @recipes.each do |recipe| %>
  <h2><a href="/client/recipes/<%= recipe["id"] %>"><%= recipe["title"] %></a></h2>
  <h3>By: <%= recipe["chef"] %></h3>
  <h4>Ingredients: <%= recipe["ingredients"] %></h4>
  <h4>Prep Time: <%= recipe["prep_time"] %></h4>
  <br>
<% end %>